.investment-plan-page {
  padding: 20px;
  .current-page-title {
    display: flex;
    align-items: center;
    // padding: 0 20px;
    margin-bottom: 20px;
    .page-name {
      color: #ed1f24;
      font-family: "Playfair Display", serif;
      font-size: 24px;
      img {
        margin: 0 16px;
      }
      a {
        color: inherit;
      }
    }
    .icon-block {
      img {
        margin-left: 42px;
        width: 26px;
        cursor: pointer;
      }
    }
    .right-side {
      margin-left: auto;
      font-weight: 500;
      font-size: 14px;
      color: #000000;
      .primary-btn {
        margin-left: 20px;
        min-width: 160px;
      }
    }
  }
  .top-section {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .list {
      flex: 0 0 33.3333%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 12px;
      .label {
        font-weight: 600;
        font-size: 18px;
        color: #828282;
        flex: 0 0 60%;
      }

      .value {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  .section-title {
    font-size: 24px;
    line-height: 22px;
    font-family: "Playfair Display", serif;
    color: #ed1f24;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    span {
      background: white;
      padding-right: 10px;
    }
  }
  .asset_progress_section {
    border-radius: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    > div {
      .ant-progress-bg {
        height: 40px !important;
        background-color: #f49d37 !important;
      }
      .ant-progress-success-bg {
        height: 40px !important;
        background-color: #2a468d;
        content: 90%;
      }
      .ant-progress-text {
        display: none;
      }
      .ant-progress-outer {
        padding: 0px;
      }
    }
    .progress-text {
      display: flex;
      align-items: flex-start;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      color: #828282;
      margin-top: 20px;
      strong {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
      }
      .left {
        margin-right: 20px;
      }
    }
  }
  .progress-section {
    margin-bottom: 40px;
    .progress-allocation {
      background: #f49d37;
      border-radius: 60px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
      .left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 0 0 70%;
        background: #2a468d;
        border-radius: 60px;
      }
      .right {
        flex: 0 0 0%;
      }
    }
    .progress-text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      color: #828282;
      > div:first-child {
        margin-right: 30px;
      }
      strong {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
      }
    }
  }

  .bottom-list {
    .list-box {
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin-bottom: 20px;
      .list-box-title {
        padding: 10px 20px;
        background: #e0e0e0;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        color: #2a468d;
        .right {
          margin-left: auto;
        }
      }
      .list-box-content {
        padding: 20px;
        .top-text {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 20px;
        }
        .box {
          border: 1px solid #828282;
          border-radius: 8px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .box-title {
            padding: 10px 20px;
            border-bottom: 1px solid #bdbdbd;
            font-weight: 600;
            font-size: 18px;
            display: flex;
            align-items: center;
            img {
              margin-left: auto;
            }
          }
          .box-content {
            padding: 10px 20px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            .empty-div {
              flex: 1 0 20%;
            }
            .list {
              flex: 0 0 50%;
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              &.width-220 {
                flex: 0 0 220px;
              }
              .label {
                color: #aeacb1;
                font-weight: 500;
                font-size: 18px;
                min-width: 100px;
              }
              .scheme_deposit_amount {
                border: none;
                border-bottom: 1px solid black;
                width: 80px;
                margin-right: 10px;
                margin-left: 4px;
                &:focus-visible {
                  outline: none;
                }
              }
              .scheme_deposit_date {
                width: 30%;
                .common-datepicker {
                  margin-top: 0px;
                  margin-bottom: 0px;
                  margin-left: 10px;
                  border: 0;
                  .ant-picker {
                    border: 0px;
                    border-bottom: 1px solid black;
                    border-radius: 0px;
                    height: 30px;
                  }
                }
              }
              .value {
                color: #828282;
                font-weight: 600;
                font-size: 18px;
                display: flex;
                align-items: center;
                flex: 1;
                span {
                  margin-left: auto;
                  display: block;
                  width: 340px;
                  width: 380px;
                }
              }
            }
            .orange-text {
              font-weight: 600;
              font-size: 18px;
              color: #f49d37;
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
}
