@import "../../../assets/scss/abstracts/abstracts.scss";

.client-dashboard {
  padding-top: 38px;
  padding-bottom: 50px;
  background: #fafafa;
  .content-title {
    padding: 0 80px;
    color: #ed1f24;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 1px solid $black;
    line-height: 20px;
    span {
      display: inline-block;
      vertical-align: top;
      background: #fafafa;
      bottom: -7px;
      padding: 0 20px;
      font-weight: 700;
      position: relative;
      left: 32px;
    }
  }
  .invest-title span {
    top: -15px;
    left: 48px;
  }
  .invest-title {
    border: none;
    padding: 0px 20px;
    left: 0px;
    top: 63px;
    background: #eff8f0;
    position: relative;
    span {
      background: #eff8f0;
      padding: 0;
      left: 0;
    }
  }
  .section-content {
    padding: 60px 100px 10px 100px;
  }
  .middle-section.invested-in .section-content {
    padding: 100px 20px 20px 20px;
  }
  .loaderIcon {
    height: 35px;
  }
  .middle-section {
    .section-content {
      background: #eff8f0;
      .middle-list {
        background: $white;
        padding: 25px 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        .left {
          color: $primary-color;
          font-weight: normal;
          font-size: 24px;
          border-right: 1px solid #c4c4c4;
          padding: 0px 20px;
          width: 35%;
          line-height: 45px;
        }
        .center {
          display: flex;
          width: 100%;
          justify-content: space-around;

          .list {
            font-weight: 600;
            font-size: 18px;
            strong {
              font-size: 18px;
              font-weight: 600;
            }
            span {
              font-weight: 500;
              color: #bdbdbd;
              display: block;
            }
          }
        }
        &:hover {
          box-shadow: 0px 0px 20px rgba(42, 70, 141, 0.3);
        }
      }
    }
  }
  .bottom-section {
    padding-top: 60px;
    .content-title {
      background: transparent;
      padding: 0;
      span {
        background: #fafafa;
        left: -10px;
        padding-left: 30px;
      }
    }
    .section-content {
      padding: 35px 20px 20px 20px;

      .bottom-list {
        .list {
          margin-bottom: 20px !important;
          background: $white;
          padding: 25px 20px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          &:hover {
            box-shadow: 0px 0px 20px #2a468d4d;
          }
          .left {
            flex: 0 0 77%;
            strong {
              display: block;
              margin-bottom: 6px;
              font-weight: 500;
              font-size: 18px;
            }
            span {
              font-weight: 500;
              font-size: 16px;
              color: #828282;
              display: flex;
              text-align: justify;
            }
          }
          .center {
            flex: 1 0 0;
            text-align: center;
            a {
              font-weight: 500;
              font-size: 18px;
              color: $primary-color;
              border-bottom: 1px solid $primary-color;
              text-decoration: none;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .info-popup-outer {
    .popup .popup-content {
      max-width: 1000px;
    }
    .popup-scroll-content {
      padding-top: 52px;
    }
    .info-popup {
      margin-top: -40px;
      padding: 30px 40px 10px 80px;
      .info-section ul li {
        text-align: justify;
        &::marker {
          color: $green;
        }
      }
      .title-block {
        margin-bottom: 20px;
        margin-bottom: 0;
        margin-top: -30px;
        span {
          font-size: 20px;
          font-family: "Playfair Display", serif;
          color: $black;
          font-weight: 400;
        }
        .title {
          display: flex;
          align-items: center;
          strong {
            font-weight: 600;
            font-size: 24px;
            padding-top: 12px;
            padding-bottom: 15px;
          }
          img {
            margin-left: -60px;
            margin-right: 20px;
            margin-top: 0px;
          }
        }
      }
      .info-section {
        color: #828282;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        &:last-child {
          padding-bottom: 0;
        }
        p {
          margin-bottom: 10px;
        }
        strong {
          font-size: 18px;
          line-height: 50px;
        }
        .flex {
          display: flex;
          margin-bottom: 10px;
          .left {
            min-width: 150px;
          }
        }
        ul {
          margin: 0;
          padding-left: 0;
          li {
            margin-bottom: 10px;
          }
        }
        .section-title {
          font-weight: 600;
          font-size: 18px;
          color: #828282;
          margin-bottom: 14px;
          display: flex;
          align-items: center;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $green;
            display: block;
            margin-left: -8px;
            position: relative;
            z-index: 1;
            left: -16px;
          }
        }
        .section-title-sm {
          font-weight: 600;
          margin-bottom: 16px;
        }
        .section-title-orange {
          font-weight: 600;
          color: #f49d37;
          margin-bottom: 8px;
        }
        .orange {
          color: #f49d37;
        }
      }
    }
  }

  .invest-tab {
    padding-top: 20px;
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:focus-visible {
      border-color: transparent;
      isolation: unset;
      outline: none;
    }
    .nav-tabs .nav-link {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      color: #bdbdbd;
      font-family: "Playfair Display", serif;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      font-size: 24px;
      border: none;
      border-bottom: 3px solid $primary-color;
      color: $primary-color;
      font-weight: 700;
      outline: none;
      font-family: "Playfair Display", serif;
    }

    ul {
      margin: 0px !important;
      background: $white;
      li {
        width: 50%;
        text-align: center;
      }
    }
    .tab-content {
      background: #eff8f0;
    }
    .goal-wise {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (max-width: 1500px) and (min-width: 1200px) {
  .client-dashboard {
    .section-content {
      padding: 60px 60px 10px 60px;
    }
    .top-section .bottom-list-section .list {
      flex: 1 0;
      padding: 4px 18px;
    }
  }
} ///iuhuih
