@import "../../../assets/scss/abstracts/abstracts.scss";

.normal-auto-search-section {
  margin-top: 20px;
  margin-bottom: 16px;
  label {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    display: block;
  }

  .ant-select:not(.ant-select-customize-input),
  .ant-select {
    width: 100%;
    .ant-select-selector {
      width: 100%;
      border: 1px solid $gray-sideBar;
      height: 40px;
      border-radius: 8px;
      background: transparent;
      padding: 0 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      outline: 0;
      font-size: 14px;
      .ant-select-selection-search {
        input {
          height: 100%;
        }
      }
    }
    .ant-select-selection-placeholder,
    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
  }
  .ant-select-clear {
    top: 18px;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: $gray-sideBar;
    outline: 0;
    box-shadow: 0 0;
  }
  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    background: #e9ecef;
  }
  .ant-select-selector:hover,
  .ant-select-selector-focused {
    border-color: $gray-sideBar;
    outline: 0;
    box-shadow: 0 0;
  }
}
