@import "../../../assets/scss/abstracts/abstracts.scss";

.Feature-card {
  .list-buy {
    height: 60px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    padding: 20px;
    span {
      font-weight: 500;
      font-size: 16px;
      color: $grey;
    }
    img {
      margin-right: 20px;
    }
  }
}
