.all-mandate-page {
  background: #fafafa;
  padding: 20px;
  .file-upload {
    height: 100%;
    margin: 0;
    .upload {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
    }
  }
  .search-input-container {
    width: 560px !important;
    .search-input-style {
      height: 60px !important;
    }
    .search-img {
      top: 18px !important;
    }
  }
  .top-section {
    display: flex;
    align-items: center;
    .search-input {
      width: 540px;
      position: relative;
      z-index: 1;
      img {
        position: absolute;
        left: 12px;
        top: 11px;
        width: 16px;
        z-index: 1;
      }
      input,
      select {
        width: 100%;
        border: 1px solid #bdbdbd;
        height: 40px;
        border-radius: 8px;
        background: transparent;
        padding: 0 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        outline: 0;
      }
      input {
        padding-left: 40px;
      }
    }
    .right {
      margin-left: auto;
      .help {
        font-weight: 600;
        font-size: 18px;
        color: #22db3b;
        margin-right: 20px;
        text-decoration: none !important;
      }
      .bank-btn {
        font-weight: 600 !important;
        font-size: 18px !important;
      }
    }
    .select-bank {
      position: relative;
      bottom: 18px;
    }
  }
  .mandate-list-section {
    .list {
      padding: 20px;
      margin-bottom: 10px;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .list-left-section {
        display: flex;
        align-items: flex-start;
        flex: 1;
        .current-list {
          display: flex;
          align-items: flex-start;
          margin-bottom: 6px;
          .label {
            flex: 0 0 180px;
            padding-right: 20px;
            font-weight: 400;
            font-size: 16px;
            color: #6b6b6b;
          }
          .value {
            font-weight: 600;
            font-size: 16px;
            color: #6b6b6b;
          }
        }
        .left {
          flex: 0 0 45%;
        }
        .right {
          flex: 0 0 35%;
        }
      }
      .list-right-section {
        margin-left: auto;
        display: flex;
        align-items: center;
        img {
          margin-left: 30px;
        }
        .icon-tooltip {
          margin-left: 30px;
          img {
            margin-left: 0;
            cursor: pointer;
          }
        }
        .icon-tooltip.upload {
          position: relative;
          cursor: pointer;
        }
        input.upload-file {
          opacity: 0;
          height: 30px;
          width: 30px;
          font-size: 0;
          position: absolute;
          right: 0;
          border: none;
          cursor: pointer;
        }
      }
      .list-bottom-section {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .title {
          font-weight: 500;
          font-size: 16px;
          color: #000000;
          margin-bottom: 12px;
          flex: 0 0 100%;
        }
        .added-img {
          display: flex;
          img {
            width: 150px;
            height: 100px;
            object-fit: cover;
            margin: 0px 10px;
            border: 1px solid #ddd;
          }
          .close-icon {
            position: absolute;
            right: -10px;
            top: -10px;
          }
        }
        .UploadedFileName {
          width: 154.38px;
          height: 103.68px;
        }
        .upload-file {
          width: 250px;
          height: 103.68px;
          background: #f4f4f4;
          border: 1px dashed #828282;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          input {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 0;
            opacity: 0;
            cursor: pointer;
          }
          img {
            position: absolute;
            top: 20px;
          }
          span {
            font-weight: 500;
            font-size: 16px;
            color: #2a468d;
          }
        }
      }
    }
  }
  .create-mandate-popup {
    .popup {
      .popup-content {
        .popup-scroll-content {
          padding-left: 160px;
          padding-right: 160px;
        }
      }
    }
    .title {
      font-weight: bold;
      font-family: "Playfair Display", serif;
      font-size: 24px;
      color: #ed1f24;
      text-align: center;
      margin-bottom: 40px;
    }
    .input-section {
      .custom-radio-btn {
        margin-right: 40px;
        input[type="radio"]:checked {
          ~ label {
            color: #22db3b;
          }
        }
      }
    }
    .bank-details {
      padding-top: 20px;
      .current-title {
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        margin-bottom: 14px;
      }
      .custom-radio-btn {
        flex-wrap: wrap;
        display: flex;
        position: relative;
        z-index: 1;
        padding-left: 42px;
        margin-bottom: 20px;
        .radio-icon {
          width: 22px;
          height: 22px;
          border-width: 7px;
          position: absolute;
          left: 0;
          top: 0;
        }
        label {
          width: 100%;
          padding-left: 0;
          margin-left: 0;
          font-weight: 500;
          font-size: 18px;
          color: #828282;
          margin-bottom: 6px;
          span {
            color: #f49d37;
            font-weight: 500;
            font-size: 12px;
            margin-left: 20px;
          }
        }
        .details-inner {
          width: 100%;
          margin-bottom: 2px;
          color: #828282;
          font-weight: 500;
          font-size: 18px;
          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
  button.mandate-btn {
    min-width: 154.38px;
    margin-left: 35px;
  }
  .mandate-amt {
    font-size: 18px !important;
  }
  .mandate-confirm-model {
    text-align: center;
    h4 {
      color: #ed1f24;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 15px;
    }
    p {
      font-size: 16px;
      color: #828282;
    }
  }
  .mandate-delete-model {
    text-align: center;
    p {
      font-size: 16px;
      color: #828282;
      padding-top: 15px;
    }
    h4 {
      font-size: 24px;
      color: #ed1f24;
      font-weight: 700;
    }
  }
  .delete-btn {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    .btn1,
    button.btn {
      min-width: 110px !important;
      width: 110px !important;
      margin: 0px 7px;
      button.btn {
        padding: 0;
        border-radius: 8px;
      }
      button.btn.cancel {
        border-color: #828282;
        color: #828282;
        &:hover {
          background-color: transparent;
          color: #828282;
        }
      }
    }
  }
  .mandate {
    .popup {
      .popup-content {
        max-width: 351px;
        .mandate-popup-success {
          text-align: center;
          img {
            width: 120px;
          }
          .body {
            padding-top: 25px;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            color: #828282;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
          }
          p.green {
            color: #22db3b;
          }
        }
      }
    }
  }
  .delete-mandate {
    .popup-content {
      max-width: 410px;
      .popup-scroll-content {
        margin-bottom: 7px;
      }
    }
  }
  .create-mandate {
    .create-mandate-popup .mandate-btn-container {
      padding-top: 0;
    }
    .popup-content {
      max-width: 755px;
      .popup-close {
        position: fixed;
        right: 50px;
      }
    }
    .popup-scroll-content {
      padding: 30px !important;
      .title {
        position: fixed;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
      }
      .scroll-mandate {
        padding-top: 90px;
      }
    }
  }
}
