$primary-color: #2a468d;
$primary-green: #257E24;
$primary-button:#20B169;
$secondary-color: #4a5c7b;
$green: #22db3b;
$white: #fff;
$danger: #ed1f24;
$black: #222222;
$master-black:#333333;
$orange: #f49d37;
$grey: #666666;
$grey-65: #6b6b6b;
$gray-sideBar: #bdbdbd;
$gray-header: #f4f4f4;
$full-height: 100vh;
$background-white:#fbfbfb;
$border-grey:#c4c4c4;
$table-grey:#e0e0e0;
$common-white:#fafafa;

/* Color */
$myColors: (
  "white": $white,
  "grey": $gray-sideBar,
  "grey-82": $grey,
  "green": $green,
  "primary-color": $primary-color,
);

@each $name, $colors in $myColors {
  $index: index($myColors, $colors);
  .text-#{$name} {
    color: $colors;
  }
  .bg-#{$name} {
    background-color: $colors;
  }
  .bc-#{$name} {
    border-color: $colors;
  }
}
