.page-loader {
  position: fixed;
  z-index: 200;
  top: 100px;
  left: 240px;
  right: 0;
  bottom: 0;
  background: #ffffff80;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 80px;
  }
}
