@import "../../../assets/scss/abstracts/abstracts.scss";
.tab-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .label {
    display: flex;
    align-items: center;
    flex: 0 0 200px;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      display: block;
      border-radius: 50%;
      background: #f49d37;
      margin-right: 14px;
    }
  }
  .input {
    input {
      border: 1px solid #c4c4c4;
      border-radius: 8px;
      outline: 0;
      padding: 0 14px;
      height: 40px;
      width: 100px;
    }
  }
}

.calculate-progress {
  padding-left: 50px;
  flex: 1 0 0;
  .line {
    border-bottom: 2px solid #f4f4f4;
    margin-top: 30px;
    margin-bottom: 14px;
    .progressed-line {
      border-bottom: 2px solid $green;
      width: 30%;
      margin-bottom: -2px;
      position: relative;
      z-index: 1;
      .dot {
        border: 2px solid $green;
        border-radius: 50%;
        background: white;
        left: 100%;
        position: absolute;
        top: -8px;
        margin-left: -8px;
        span {
          position: absolute;
          bottom: 100%;
          color: $green;
          font-weight: 600;
          font-size: 20px;
          white-space: nowrap;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

.calculate-range {
  padding-top: 20px;
  .calculate-progress {
    .line {
      border: none !important;
      .progressed-line {
        border: none !important;
        width: 100%;
        .dot {
          border: none !important;
          width: 100% !important;
          height: auto !important;
          left: inherit !important;
          top: -25px !important;
          input[type="range"] {
            --thumbSize: 18px;
            --trackSize: 3px;
            --thumbBg: #fff;
            --trackBg: #f2f2f2;
            --progressBg: #22db3b;

            /* webkit progress workaround */
            --webkitProgressPercent: 0%;
          }

          input[type="range"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: var(--thumbSize);
            margin: 0;
            padding: 0;
            // max-width: 400px;
            width: 100%;
          }
          input[type="range"]:focus {
            outline: none;
          }

          /* Thumb */
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--thumbSize);
            height: var(--thumbSize);
            background-color: var(--thumbBg);
            border-radius: calc(var(--thumbSize) / 2);
            border: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
            cursor: pointer;
          }

          /* Track */
          input[type="range"]::-webkit-slider-runnable-track {
            height: var(--trackSize);
            background-image: linear-gradient(
              90deg,
              var(--progressBg) var(--webkitProgressPercent),
              var(--trackBg) var(--webkitProgressPercent)
            );
            border-radius: calc(var(--trackSize) / 2);
          }
        }
      }
    }
  }
}
