.redeem-investment {
  .redeem-header {
    padding-left: 70px;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #ed1f24;
    }
    h3 {
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      margin-right: 50px;
      color: #828282;
      font-weight: 500;
    }
    span {
      font-weight: 600 !important;
    }
  }
  .input-section {
    margin: auto;
    display: block;
    padding: 20px;
    h6 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #828282;
    }
    .button-section {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 15px 5px;
      }
    }
  }
  .bottom-section {
    text-align: center;
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin: 20px 0;
    }
  }
  .redeem-popup {
    .redeem-header {
      padding-left: 0px;
    }
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #ed1f24;
      margin: 20px 0;
    }
    h4 {
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #828282;
      font-weight: 500;
    }
    span {
      font-weight: 600 !important;
    }
    button {
      margin: 20px 0;
    }
  }
  .redeem-icon-section {
    padding: 0 105px;
    .dropdown-list {
      padding: unset !important;
      margin-bottom: unset !important;
      box-shadow: unset !important;
      background: unset !important;
      .list-menu {
        right: -45px !important;
      }
    }
  }
}
