@import "../../../assets/scss/abstracts/abstracts.scss";

.family-page {
  padding: 40px 0;
  background: #fafafa !important;
  .bottom-section {
    padding: 20px;
    .bg-color {
      background-color: $white;
    }
    .tab-bar {
      padding: 0 80px;
      margin: 0 -20px 20px -20px;
      height: 55px !important;
      border-bottom: unset !important;
      position: relative;
      .tab {
        width: 40%;
      }
    }
  }
  .table-block {
    margin-bottom: 40px;
    table {
      width: 100%;
      th {
        background: #e0e0e0;
        font-weight: 600;
        font-size: 16px;
        color: $secondary-color;
        padding: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        vertical-align: top !important;
        z-index: 0;
        &:last-child {
          border-right: 0;
        }
        img {
          margin-left: 6px;
          width: 18px;
          float: right;
        }
        div {
          text-align: left !important;
          white-space: pre-line;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $secondary-color;
          opacity: 0.9;
          justify-content: revert !important;
        }
      }
      td {
        padding: 20px 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #828282;
        border: 1px solid rgba(0, 0, 0, 0.25);
        .primary-color {
          color: $primary-color;
        }
      }
      .empty-height {
        th {
          height: 10px;
          background: none;
          border: none;
          padding: 0;
        }
        td {
          height: 10px;
          background: none;
          border: none;
          padding: 0;
        }
      }
    }
  }
  .button-section {
    text-align: right;
    margin-bottom: 30px;
  }
  .popup-title {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 24px;
    color: #ed1f24;
  }
  .list-outer {
    display: flex;
    padding: 0;
    width: 80%;
    > div {
      flex: 1;
      &:last-child {
        border-right: 0;
      }
    }
    .left {
      padding-right: 30px;
    }
    .right {
      padding-left: 30px;
    }
    .list-content {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
      color: #828282;
      vertical-align: bottom;
      td {
        padding-bottom: 10px;
      }
      .label {
        padding-right: 10px;
      }
      .value {
        img {
          margin-left: 6px;
        }
      }
    }
  }
  .family-popup-content {
    .name {
      font-weight: 600;
      font-size: 18px;
      color: $primary-color;
      margin-bottom: 20px;
    }
    .border-content {
      padding: 20px;
      border: 1px solid #c4c4c4;
      border-radius: 8px;
      margin-top: 20px;
      margin-bottom: 40px;
      .title {
        color: $black;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .sub-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #828282;
        margin-bottom: 25px;
      }
      .list-outer {
        .list {
          display: flex;
        }
        .label {
          color: #828282;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          padding-right: 5px;
        }
        .value {
          color: #828282;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .content-title {
    padding: 0 80px;
    color: #ed1f24;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 1px solid $black;
    line-height: 20px;
    span {
      display: inline-block;
      vertical-align: top;
      background: #fafafa;
      bottom: -7px;
      padding: 0 20px;
      font-weight: 700;
      position: relative;
      left: 32px;
    }
  }
  .invested-summary {
    .section-content {
      background: #fafafa !important;
      padding-bottom: 30px;
    }
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}
