@import "../../../assets/scss/abstracts/abstracts.scss";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  /* overflow-y: auto; */
}
.popup .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: #00000033;
}
.popup .popup-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 840px;
  width: 100%;
  background: $white;
  z-index: 102;
  border-radius: 10px;
}
.popupwidth {
  max-width: 1147.76px !important;
  border-radius: 10px;
}
.popup-scroll-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 30px;
}
.overflowChange {
  max-height: 80vh;
  overflow-y: unset !important;
  padding: 40px;
}
.popup .popup-content .popup-close {
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
}
