@import "../../../../assets/scss/abstracts/abstracts.scss";

.invest-card-parent {
  background: $white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  .invest-card-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    .cutoftime-title {
      text-align: right;
      font-weight: 600;
      font-size: 16px;
      margin-left: auto;
      color: $green;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .custom-checkbox {
    display: unset;
    .checkbox-tick {
      border-radius: 5px;
    }
    .label-txt {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      padding-left: 30px;
      font-weight: 500;
      font-size: 18px;
    }
    input:checked + .label-txt {
      color: red;
    }
    input:checked + .checkbox-tick {
      background-color: $primary-color;
    }
  }
}


