@import "assets/scss/abstracts/abstracts.scss";

// elmo login
.login-center-postion {
  display: flex;
  justify-content: center;
  align-items: center;
  .login-center-max {
    max-width: 450px;
  }
}
.login-title{
  color: $primary-green;
  font-weight: 600;
font-size: 48px;
font-family: 'Playfair Display';
text-align: center;
span{
  color: $primary-color;
  margin-left: 12px;
}
}

.login-discription{
  color: $grey;
  font-style: normal;
font-weight: 400;
font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

























.inputModalContainer {
  .inputModalPadding {
    padding: 10px;
  }
}

.popup-modal-parent {
  .popup-content {
    max-width: 350px;
  }
  .popup-scroll-content {
    padding: 0px !important;
  }
  .popup-selectprofile-wrap {
    display: flex;
    flex-direction: column;
  }
  .popup-select-wrap {
    padding: 20px;
  }
  .popup-select-profile {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .popup-select-title {
    background: #f4f4f4;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 24px;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;
    color: #ed1f24;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
  }
}



// socialGoogleBtn

.socialGoogleBtn {
  box-shadow: unset !important;
}

.kep-login-facebook.metro {
  background-color: unset !important;
  border: 0 !important;
  padding: 0 !important;
  margin-top: 20px;
  .fa {
    color: black;
  }
}
