.table-block .maintable-content {
  min-height: 0px !important;
}
.riskhistory-rm {
  padding-bottom: 20px;

  .mb-20 {
    margin-bottom: 20px;
  }

  .table-block {
    margin-bottom: 40px;
    table {
      width: 100%;
      th {
        background: #e0e0e0;
        font-weight: 600;
        font-size: 16px;
        color: #4a5c7b;
        padding: 8px 20px;
        border: none !important;
      }
      td {
        padding: 10px 20px;
        font-weight: 500;
        font-size: 14px;
        color: #6b6b6b;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.09);
        border: none !important;
        border-radius: 3.45329px;
        .primary-color {
          color: #2a468d;
        }
        .view-profile {
          font-weight: 500;
          font-size: 14px;
          color: #22db3b;
          text-decoration: none;
        }
        .deactivate {
          font-weight: 500;
          font-size: 14px;
          color: #ed1f24;
          text-decoration: none;
        }
      }
      .red {
        color: #ed1f24;
      }
      .empty-height {
        th {
          height: 6px;
          background: none;
          border: none;
          padding: 0;
        }
        td {
          height: 6px;
          background: none;
          border: none;
          padding: 0;
        }
      }
    }
  }
  .mb-30 {
    margin-bottom: 30px;
  }

  .tab-content {
    padding: 0 87px;
  }
  .riskhistory-section {
    padding-top: 10px;
    .title {
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
      font-family: "Playfair Display", serif;
      padding-left: 80px;
      color: #ed1f24;
      font-weight: 700;
    }
    .profile-content {
      // max-width: 1000px;
      // width: 100%;
      padding: 0 91px;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}
