@import "../../../assets/scss/abstracts/abstracts.scss";

header {
  height: 100px;
  margin-left: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 2;
  background: $white;
  .verify-block {
    margin-right: auto;
    padding-left: 18rem;
    span {
      padding-right: 20px;
    }
  }
}
header .primary-btn {
  border-radius: 8px;
  min-width: 150px;
  font-weight: 600;
  font-size: 18px;
  &:hover {
    color: $white;
  }
}

header .icon-section {
  display: flex;
  align-items: center;
  padding-right: 32px;
}
header .icon-section > div {
  margin-left: 40px;
}
header .icon-section .alert {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}
header .icon-section .alert .count {
  position: absolute;
  right: -10px;
  top: -15px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $orange;
  color: $white;
  font-size: 12px;
  border-radius: 50%;
}
header .user-details {
  display: flex;
  justify-content: center;
  border-left: 1px solid $gray-header;
  padding-left: 30px;
  height: 100px;
  align-items: center;
}
header .user-details .user-img {
  margin-right: 16px;
}
header .user-details .user-img {
  margin-right: 16px;
  height: 45px;
  width: 45px;
  background: $primary-color;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
header .profile-block {
  min-width: 105px;
}
header .user-details .user-name {
  font-weight: 600;
  font-size: 16px;
  color: $grey;
}
header .user-details span {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 14px;
}

header {
  .bell-active {
    padding: 5px !important;
    border-radius: 50%;
    background: $primary-color;
    img {
      filter: brightness(0) invert(1);
    }
    .count {
      opacity: 0;
    }
  }
  .my-team-section {
    .team-list-box {
      background: $white;
      box-shadow: -3px 1px 4px rgba(0, 0, 0, 0.2);
      padding: 20px;
      position: fixed;
      top: 100px;
      height: calc(100vh - 100px);
      right: 0;
      width: 300px;
      overflow-y: auto;
      color: $grey;
      .close-icon {
        display: block;
        margin-left: auto;
        margin-bottom: 20px;
      }
      .master {
        .master-user {
          font-weight: normal;
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          span {
            color: $orange;
            font-weight: normal;
            font-size: 10px;
            align-self: flex-end;
            margin-left: 4px;
          }
          img {
            margin-left: auto;
          }
        }
      }
      .team-list {
        .user-details-team {
          font-weight: normal;
          font-size: 12px;
          display: flex;
          align-items: center;
          background: $gray-header;
          padding: 4px 20px;
          margin-left: -20px;
          margin-right: -20px;
          margin-bottom: 10px;
          span {
            color: $orange;
            font-weight: normal;
            font-size: 10px;
            align-self: flex-end;
            margin-left: 4px;
          }
          img {
            margin-left: 40px;
          }
        }
        ul {
          padding-left: 20px;
          li {
            font-weight: normal;
            font-size: 12px;
            // display: flex;
            // align-items: center;
            margin-bottom: 10px;
            span {
              color: $orange;
              font-weight: normal;
              font-size: 10px;
              align-self: flex-end;
              margin-left: 4px;
              &.red {
                color: #f05b5d;
              }
            }
          }
        }
      }
    }
  }
  span.user-profile {
    color: $white !important;
  }
  .user-block {
    min-width: 125px;
  }
}
