.invest-icon-section {
  padding: 0 32px;
  .dropdown-list {
    padding: unset !important;
    margin-bottom: unset !important;
    box-shadow: unset !important;
    background: unset !important;
  }
  .list-menu {
    right: -25px !important;
  }
}
