@import "assets/scss/abstracts/abstracts.scss";



// elmo
.forgot-title{
  color: $primary-green;
  font-weight: 600;
font-size: 48px;
text-align: center;
line-height: 80px;
span{
  color: $primary-color;
  margin-left: 12px;
}
}
.forgot-sub-title{
  text-align: center;
font-style: normal;
font-weight: 700;
font-size: 20px;
color: $black;
line-height: 50px;
}
.checked-otp{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Verify-Code{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  color: $master-black;
}
.resend-Otp{
  font-style: normal;
font-weight: 500;
font-size: 14px;
color: $primary-button;
text-align: center;
margin-bottom: 20px;
}























.forgot-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 110px 0px 0px;
  max-width: 445px;
  margin: 0px auto;
  .forgot {
    .input-section .input .with-icon img {
      top: 44px;
    }
  }
  .input-section.otp .input .with-icon img {
    top: 15px;
  }
  .content {
    flex: 0 0 100%;
    .title {
      font-weight: 700;
      font-size: 30px;
      color: $primary-color;
      margin-bottom: 5px;
    }
    .description {
      font-weight: 500;
      font-size: 18px;
      color: #828282;
      margin-bottom: 95px;
    }
    .description.forgot {
      padding-top: 35px;
      margin-bottom: 40px;
      font-size: 18px;
    }
    .input-section.grey-input-ui.forgot {
      margin-bottom: 78px;
    }
    .input-section {
      text-align: left;
      margin-bottom: 48px;
      .input .with-icon input {
        height: 48px;
        &::placeholder {
          font-size: 16px;
        }
      }
      label {
        font-size: 18px;
        padding-bottom: 1px !important;
      }
    }
    .primary-btn {
      margin-bottom: 20px;
      height: 50px;
    }
  }
  .otp-not-received {
    text-align: center;
    color: #828282;
    font-weight: 500;
    font-size: 18px;
    padding-top: 12px;
    span.disable {
      color: #ddd;
    }
    a {
      color: $primary-color;
    }
  }
  .reset {
    .description {
      margin-bottom: 50px;
    }
    .input-section label {
      padding-bottom: 4px !important;
    }
    .input-section .input .with-icon img {
      top: 48px;
    }
  }
}
