.invest_status_scheme_details {
  padding: 20px;
  .investment_status_button {
    display: flex;
    justify-content: center;
    button:first-child {
      margin-right: 30px;
    }
  }
  .scheme-details-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 47px;
  }
  .scheme-details-container {
    display: flex;
    align-items: center;
  }
}

.scheme-card-parent {
  margin-bottom: 20px;
  .scheme-card-container {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .modify_retry_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
      min-width: 50px;
    }
  }

  .scheme-title-container {
    .title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
    .payment_status_success {
      color: #00ff2b;
      margin: 0px;
    }
    .payment_status_failed {
      color: red;
      margin: 0px;
    }
  }
  .scheme-tilte-padding {
    padding-right: 23px;
  }
  .scheme-tilte-left {
    padding-right: 20px;
  }
  .scheme-card-content {
    display: flex;

    .scheme-card-subtitle {
      padding-top: 10px;

      .scheme-withoutbold {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #828282;
      }

      .scheme-withbold {
        font-weight: 600;
      }
    }
  }
}
