@import "../../../../assets/scss/abstracts/abstracts.scss";

.switch-failure-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.failure-title {
  color: $danger;
}
.popup-failure-sub-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 14px;
}

.popup-failure-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.buttonAlign {
  .btn-Background {
    background-color: $primary-color !important;
  }
}
