@import "../../../assets/scss/abstracts/abstracts.scss";

.info-popup-outer {
  .popup .popup-content {
    max-width: 1000px;
  }
  .popup-scroll-content {
    padding-top: 52px;
  }
  .info-popup {
    margin-top: -40px;
    padding: 30px 40px 10px 80px;
    .info-section ul li {
      text-align: justify;
      &::marker {
        color: $green;
      }
    }
    .title-block {
      margin-bottom: 20px;
      margin-bottom: 0;
      margin-top: -30px;
      span {
        font-size: 20px;
        font-family: "Playfair Display", serif;
        color: $black;
        font-weight: 400;
      }
      .title {
        display: flex;
        align-items: center;
        strong {
          font-weight: 600;
          font-size: 24px;
          padding-top: 12px;
          padding-bottom: 15px;
        }
        img {
          margin-left: -60px;
          margin-right: 20px;
          margin-top: 0px;
        }
      }
    }
    .info-section {
      color: $grey;
      padding-bottom: 20px;
      font-weight: 500;
      font-size: 16px;
      &:last-child {
        padding-bottom: 0;
      }
      p {
        margin-bottom: 10px;
      }
      strong {
        font-size: 18px;
        line-height: 50px;
      }
      .flex {
        display: flex;
        margin-bottom: 10px;
        .left {
          min-width: 150px;
        }
      }
      ul {
        margin: 0;
        padding-left: 0;
        li {
          margin-bottom: 10px;
        }
      }
      .section-title {
        font-weight: 600;
        font-size: 18px;
        color: $grey;
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        &::before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $green;
          display: block;
          margin-left: -8px;
          position: relative;
          z-index: 1;
          left: -16px;
        }
      }
    }
  }
}
