@import "assets/scss/abstracts/abstracts.scss";

button {
  &.primary-btn {
    background: $primary-button;
    border: 1px solid $primary-button;
    transition: 0.3s ease-in;
    color: $white;
  }
  &.primary-btn:hover {
    background: $primary-button;
    border: 1px solid transparent;
    transition: 0.3s ease-in;
    color: $white;
  }
  &.outline-btn {
    border: 1px solid $grey;
  }
}
