@import "assets/scss/abstracts/abstracts.scss";

.switch-page,
.switch-page * {
  box-sizing: border-box;
}

.stp-nav {
  color: $grey;
  font-size: 14px;
  font-weight: 500;
  span {
    margin-left: 12px;
  }
}

.switch-page h2 {
  font-weight: 600;
  font-size: 18px;
  color:  $grey;
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}
.switch-page h3 {
  font-weight: 600;
  font-size: 16px;
  color:  $grey;
  margin: 0;
  line-height: 22px;
}
.switch-arrow-div {
  background-color: $background-white;
}
.present-header {
  background: $gray-header;
  margin: -26px -20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  min-height: 59px;
  color: $danger;
  font-size: 20px;
  font-weight: 600;
}
.switch-page {
  .subtitle {
    background: $gray-header;
    margin: 0 -20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      color: $danger;
      font-weight: 600;
      font-size: 20px;
      padding-left: 20px;
    }

    .search-input {
      position: relative;
      z-index: 1;
      input {
        height: 48px;
        background: transparent;
        border: 1px solid $gray-sideBar;
        padding: 0 20px;
        padding-left: 50px;
        outline: 0;
        width: 450px;
        font-family: inherit;
        border-radius: 8px;
      }
      img {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 14px;
      }
    }
  }
  .popup-title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color: $danger;
  }
  .popup-box-title {
    font-weight: 500;
    font-size: 16px;
    color: $black;
    margin-bottom: 8px;
  }
  .success-popup {
    .popup {
      .popup-content {
        max-width: 920px;
      }
    }
  }
}
.switch-icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 60px;
  bottom: 60px;
  img {
    width: 30px;
  }
}

.popup-box-switch-page {
  border: 1px solid $border-grey;
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
  margin-bottom: 30px;

  .label {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $grey;
  }
  .lablepadding {
    padding-left: 10px;
  }
}
.popup-box-switch-page .box-title {
  font-weight: 600;
  font-size: 18px;
  color: $grey;
  line-height: 16px;
}
.popup-box-switch-page p {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  color: $grey;
  margin-bottom: 10px;
  line-height: 34px;
  label {
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
    strong {
      font-weight: 500;
      margin-right: 10px;
    }
  }
}
.popup-box-switch-page span {
  color: $orange;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.switch-page {
  .dropdown-list-outer {
    .dropdown-list {
      padding: 20px;
      margin-bottom: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      background: $white;
      border-radius: 8px;
      .dropdown-list-header {
        display: flex;
        align-items: center;
        h3 {
          color: $grey;
          margin-top: 0;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 10px;
        }
        h4 {
          margin-top: 0;
          margin-bottom: 0;
          color: $grey;
          font-weight: 500;
          font-size: 16px;
          span {
            font-weight: 400;
          }
        }
        .right {
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-bottom: 29px;
          cursor: pointer;

          img {
            margin-left: 30px;
          }
        }
      }
      .dropdown-list-content {
        display: none;
        .list-section {
          > div {
            border-right: 1px solid $grey;
            flex: 1;
            &:last-child {
              border-right: 0;
            }
          }
          .left {
            padding-right: 30px;
          }
          .right {
            padding-left: 30px;
          }
          .center {
            padding: 0 30px;
          }
          .list-content {
            display: flex;
            align-items: flex-end;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 10px;
            color: $grey;
            .label {
              width: 50%;
              padding-right: 10px;
            }
            .value {
              img {
                margin-left: 6px;
              }
            }
          }
        }
      }
      &.active {
        .dropdown-list-content {
          display: block;
        }
      }
    }
  }
}
.submit-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .primary-btn {
    background-color: $primary-color !important;
  }
}
