@import "../../../../assets/scss/abstracts/abstracts.scss";

.product-list {
  .product-details {
    background: #f5f5f5;
    padding: 20px;
    min-height: calc(100vh - 170px);
  }
  .product-title {
    color: $black;
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .product-subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }
}
