@import "assets/scss/abstracts/abstracts.scss";

.switch-list-container {
  .switch-header-width {
    max-width: 850px;
    .switch-header-flex {
      display: flex;
      padding-bottom: 10px;
      width: 100%;
      .switch-header-data {
        width: 32%;
        display: flex;
        img {
          margin-left: 8px;
        }
      }
      .label {
        color: $grey;
        font-weight: 500;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        line-height: 22px;
        width: 50%;
      }
      .lable-padding-left {
        padding-left: 20px;
      }
    }
  }
}
