#search-input-parent {
  .search-input-layout {
    display: flex;
    align-items: flex-start;
    padding: 20px;

    .search-input-container {
      width: 500px;
      position: relative;
      z-index: 1;
      .search-img {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 25px;
        z-index: 1;
      }
    }
    .search-input-style {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #828282;
      width: 100%;
      border: 1px solid #bdbdbd;
      height: 50px;
      border-radius: 8px;
      background: transparent;
      padding-left: 50px;
      font-family: "Poppins", sans-serif;
      outline: 0;
    }
    .search-input-style::placeholder {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #828282;
    }
  }
}
