@import "../../../../assets/scss/abstracts/abstracts.scss";

.other-investments {
  padding: 0 100px;
  .active {
    .investment-title {
      h3 {
        color: $primary-color;
      }
    }
  }
  .card-details {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: $white;
    img {
      cursor: pointer;
      margin: 0 10px;
    }
    h3 {
      color: $black;
      margin-top: 0;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
    }
    h4 {
      color: $grey;
      font-weight: 500;
      font-size: 13px;
    }
    .investment-container {
      display: flex;
      flex-direction: row;
      .title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        color: $grey;
      }
    }
    .border-right {
      border-right: 1px solid $grey;
    }
  }
}
