@import "../../../../assets/scss/abstracts/abstracts.scss";
.invest-purchase-container {
  padding: 20px;

  .invest-purchase-title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    color: #ed1f24;
    margin-bottom: 0px;
  }

  .invest-title-wrap {
    padding-top: 30px;
    width: 70%;

    .invest-confirm-title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #ed1f24;
      text-align: center;
    }
  }
  .invest-card-details {
    padding: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 30px;
    width: 100%;
    .invest-card-details-heading {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      color: $black;
    }
    .invest-card-subtitle {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #828282;
      padding-right: 30px;
    }
  }

  .invest-card-data {
    padding-top: 10px;
    padding-bottom: 10px;

    .invest-heading-title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #f49d37;
    }
    .invest-card-amount-wrap {
      display: flex;
      .invest-card-amount-title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #828282;
        padding-right: 20px;
      }
      .width_title {
        width: 120px;
      }
    }
  }

  .invest-confirm-btn-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    .invest-confirm-btn {
      width: 200px;
      height: 40px;
      background: $primary-color;
      mix-blend-mode: normal;
      border-radius: 8px;
      color: $white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
