.onboard_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select_dropdown{
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  display: flex;
}
.searchBox {
    display: flex;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    .searchInput {
      border-radius: 4px;
      border: none;
      outline: none;
      height: 35px;
      width: 250px;
      padding: 0px 20px 0px 20px;
    svg{
        position: relative !important;
        right: 30px !important;
        top: 4px !important;
    }
    }
  }
  .search_filter{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .gender_filter{
          display: flex;
          align-items: center;

      }
    }
    .tooletip_lable{
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 5px;
      }
      .tooletip_lable:hover{
        font-size: 16px;
        font-weight: 800;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 5px;
        background-color: #D3F4E4;
        border-radius: 30px;
      }
      .ant-tooltip-inner {
        color: #8F9295 !important;
        background-color: #ffffff !important;
        width: 130px;
        padding: 12px !important;
      }
      .tooletip_icon{
          margin-left: 6px;
      }

      // create user page css
      .create_header{
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.04);
        border-radius: 0px 0px 6px 6px;
        padding: 30px;
        .user-title{
          color: #333333;
        }
        .blank{
          border-bottom: 1px solid #cfcfcf;
        }
        .address{
          color: #0655A3;
        }
      }
    

      .countryCode{
        background: #F9F9F9;
        border: 0.25px solid #C0C0C0;
        box-sizing: border-box;
        width: 60px;
        outline: none;
        height: 40px;
        display: flex;
        padding: 9px 12px;
        justify-content: center;
      }
      
      .flag{
        height: 20px;
        width: 30px;
      }