@import "../../../../assets/scss/abstracts/abstracts.scss";

.purchase-status-container {
  padding: 20px;

  .purchase-status-details {
    padding-top: 40px;
    width: 60%;
    margin: 0 auto;
    .purchase-status-img {
      width: 150px;
      padding-bottom: 30px;
    }
    .status-details-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .purchase-status-title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
      }
      .purchase-sub-title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        padding-top: 15px;
      }

      .unsuccess-color {
        color: #ed1f24;
      }
      .success-color {
        color: $green;
      }

      .unsucess-border {
        border: 1px solid #ed1f24;
      }
      .sucess-border {
        border: 1px solid $green;
      }
      .purchase-card-details {
        padding: 20px;
        border-radius: 8px;
        margin-top: 30px;
        width: 100%;

        .purchase-card-details-heading {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          align-items: center;
          color: $black;
        }
        .purchase-card-subtitle {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #828282;
          padding-right: 30px;
        }
        .unsuccess-color {
          color: #ed1f24;
        }
        .success-color {
          color: $green;
        }
      }
      .purchase-card-data {
        padding-top: 10px;
        padding-bottom: 10px;

        .invest-heading-title {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #f49d37;
        }
        .purchase-card-amount-wrap {
          display: flex;
          .purchase-card-amount-title {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #828282;
            padding-right: 20px;
          }
          .width_title {
            width: 120px;
          }
        }
      }
    }
  }

  .purchase-btn-container {
    padding-top: 30px;
    display: flex;

    .purchase-common-btn {
      width: 216px;
      height: 60px;
      border: 1px solid $primary-color;
      box-sizing: border-box;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .purchase-modify-bg {
      background: $primary-color;
    }
    .purchase-btn-margin {
      margin-right: 20px;
    }
    .purchase-btn-title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0px;
    }
    .purchase-btn-color {
      color: $primary-color;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
