@import "../../../assets/scss/abstracts/abstracts.scss";

.file-upload {
  margin-top: 20px;
  margin-bottom: 16px;
  label {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    display: block;
  }
  .upload {
    width: 100%;
    border: 1px solid $gray-sideBar;
    height: 40px;
    border-radius: 8px;
    padding: 0 14px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .placeholder {
      white-space: nowrap;
      background: transparent;
    }
    input {
      font-size: 0;
      opacity: 0;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 40px;
      right: 0;
      cursor: pointer;
    }
  }
}
