@import "../../../../assets/scss/abstracts/abstracts.scss";

.cut-off-times {
  .top-notes {
    color: $black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 14px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    span {
      display: block;
      margin-right: 40px;
    }
  }
  .table-block {
    overflow-y: auto;
    margin-bottom: 20px;
    background: $white;
    table {
      width: 100%;
      td {
        border: 1px solid #bdbdbd !important;
        padding: 10px;
        color: #828282;
        font-weight: 500;
        font-size: 16px;
        strong {
          font-weight: 600;
        }
      }
    }
    &.grey {
      table {
        background: #e0e0e0;
        td {
          color: $secondary-color;
          background-color: #e0e0e0;
          border: 1px solid #bdbdbd !important;
        }
      }
    }
  }
  .description {
    font-weight: 500;
    font-size: 16px;
    color: #828282;
    margin-bottom: 40px;
    padding: 0;
  }
  .list-outer {
    .list-title {
      margin: 0 -20px;
      margin-bottom: 34px;
      border-bottom: 1px solid $black;
      display: flex;
      padding-left: 100px;
      font-family: "Playfair Display", serif;
      font-size: 24px;
      span {
        background: #fafafa;
        margin-bottom: -8px;
        padding: 0 20px;
        color: #ed1f24;
        font-weight: 700;
      }
    }
    .list-inner {
      margin: 0;
      padding-bottom: 30px;
      .list-content {
        margin-top: 0;
        margin-bottom: 20px;
        color: #828282;
        font-weight: 500;
        font-size: 16px;
        span {
          color: $black;
          font-weight: 600;
          font-size: 16px;
          display: block;
        }
        &::marker {
          color: $green;
        }
        ul {
          list-style-type: disc;
          max-width: 500px;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          li {
            font-weight: 600;
            margin-bottom: 10px;
            width: 50%;
            &::marker {
              color: #828282;
            }
          }
        }
      }
    }
  }
}
