.dashboard-title{
    line-height: 64px;
}
.table_row{
    border: 1px solid #DDDFE1;
}
.table_subTitle{
    font-style: normal;
font-weight: 600;
font-size: 18px;
label{
margin-bottom: 0px !important;
}
}
.chart_header{
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 8px;
    background: #FFFFFF;
    // padding: 12px;
    .chart_title{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label{
        color: #222222;
        margin-bottom: 0px;
    }
    }
    .blank{
        border-bottom:1px solid #DDDFE1;
    }
}

